:root{
    --Purple: #854dff;
    --Lightred: #ff5757;
    --White: #ffffff;
    --Offwhite: #f0f0f0;
    --Lightgrey: #dbdbdb;
    --Smokeygrey: #716f6f;
    --Offblack: #141414;
}
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
}
body{
    background-color: var(--Offwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
    gap: 20px;
    position: relative;
    transition: background 1s ease-in-out;
}

.container{
    background-color: var(--White);
    width: 100%;
    border-radius: 15px;
    padding: 40px;
    border-bottom-right-radius: 30%;
    max-width: 600px;
    z-index: 10;
}

.inputs{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

input{
    width: 80%;
    border-radius: 5px;
    outline: none;
    padding: 14px;
    font-size: 20px;  
    border: 1px solid var(--Lightgrey); 
}
input:hover{
    cursor: pointer;
    border-color: var(--Purple);
}
label{
    color: var(--Smokeygrey);
    display: block;
    margin-bottom: 6px;
    display: block;
    letter-spacing: 2px;
    font-size: 12px; 
}


.liner {
  position: relative;
  height: 1px;
  background-color: var(--Lightgrey);
  margin: 40px 0;
}

.btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

button{
    background-color: var(--Purple);
    border-radius: 50%;
    border: none;
    padding: 14px;
}
button:hover{
    background-color: var(--Offblack);
    cursor: pointer;
}
.result{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 48px;
    font-weight: bold;
    font-size: 4rem;
}

.purple{
    color: var(--Purple);
    
}

.error{
    margin-top: 2px;
    display: block;
    color: var(--Lightred);
    display: none;
}
.input-error input{
    border-color:var(--Lightred) ;
}
.input-error label{
    color: var(--Lightred);
}

#clock{
    background-color: var(--Lightgrey);
    width: 100%;
    border-radius: 15px;
    padding: 40px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    font-size: 4rem;   
    z-index: 1;
    background: rgba(255, 255, 255, 0.15); 
   backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);
}
#sky{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px; 
  z-index: 0;
}

#sun, #moon {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1000; 
  left:0; 
  top:0;
  transform:translate(-50%,-50%);
  transition:transform 60s linear, opacity 1s;
}
body.night{
  background: radial-gradient(#000010,#000);
}
#sun {
  background: radial-gradient(white,yellow);
  box-shadow: 0 0 30px orange;
  opacity: 0;
}

#moon {
  background: radial-gradient(white 40%, #ccc 60%);
  box-shadow: 0 0 15px #ccc;
  opacity: 0;
}

.stars {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out;
  z-index: 1000;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

@media (max-width:1440px) {
    .container{
        width: 70%;
    }
    #clock{
        width: 70%;
    }
    .btn{
        right: 50%;
    }
    
}

body.night {
  background: radial-gradient(#000010, #000) !important;
}
