:root {
    --Bright-orange: #e38826;
    --Dark-cyan: #006970;
    --Very-dark-cyan: #004241;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 70%;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.col-sedans {
    background-color: var(--Bright-orange);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.col-sedans a,
.col-sedans a:visited {
    color: var(--Bright-orange);
}

.col-suvs {
    background-color: var(--Dark-cyan);
}

.col-suvs a,
.col-suvs a:visited {
    color: var(--Dark-cyan);
}

.col-luxury {
    background-color: #00403f;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.col-luxury a,
.col-luxury a:visited {
    color: var(--Very-dark-cyan);
}

img {
    width: 80px;
}

h2 {
    color: white;
    font-family: "Big Shoulders";
    font-weight: 700;
    font-size: 40px;
}

p {
    color: white;
    font-family: "Lexend Deca";
    font-weight: 400;
    opacity: 0.8;
}

a {
    margin-top: 80px;
    font-family: "Lexend Deca";
    font-weight: 400;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid white;
}

a:hover {
    background-color: transparent;
    color: white !important;
}

@font-face {
    font-family: Lexend Deca;
    src: url(./assets/fonts/LexendDeca-Regular.ttf);
}
@font-face {
    font-family:Big Shoulders ;
    src: url(./assets/fonts/BigShouldersDisplay-Regular.ttf);
}

@media(max-width:1440px){
    .col-sedans{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: unset ;
    }
    .col-luxury{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: unset;

    }
    .container {
        flex-direction: column;
        width: 90%;
    }
    body{
        min-height: 300vh;
    }
    

}